HOST hbase-master
HostName hbase-master
User root
Port 2122
StrictHostKeyChecking no
HOST hbase-slave1
HostName hbase-slave1
User root
Port 2122
StrictHostKeyChecking no
HOST hbase-slave2
HostName hbase-slave2
User root
Port 2122
StrictHostKeyChecking no
HOST hbase-slave3
HostName hbase-slave3
User root
Port 2122
StrictHostKeyChecking no
